head
    <meta charset="UTF-8">
    title ЕГЭ по Биологии
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="#") Лидия Чижова

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gorizontalNavbar" aria-controls="gorizontalNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        div(class="navbar-collapse" id="gorizontalNavbar")
            ul(class = "navbar-nav ml-auto")
                li(class="nav-item")
                    a(class="nav-link" href="#") Главная
                li(class="nav-item" href="#")
                    a(class="nav-link" href="#") Обо мне
                li(class="nav-item")
                    a(class="nav-link" href="#") Услуги и цены
                li(class="nav-item")
                    a(class="nav-link" href="#") Отзывы


    div(class = "row no-gutters mb-lg-0 mb-3")
        div(class="col-lg-6")
            img(src="https://github.com/FastYarProject/Bioli/blob/coding/source/images/withMicro.gif?raw=true"  alt class="img-fluid")
        div(class="col-lg-6")
            div(class="d-flex h-100 flex-column")
                div(class="ml-lg-3 my-auto text-lg-left text-center" id="intro-text")
                    h1 Подготовка к ЕГЭ и ОГЭ по Биологии
                    p Авторская методика от самой сексуальной чиксы Шарьи.