head
    .script (src="https://kit.fontawesome.com/3ca8558de8.js" crossorigin="anonymous")
header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+79159710377")
    .header__bottom
        h2 some fgdg
